// Place all the styles related to the category_main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#horizontal ul{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

#horizontal li{
  float: left;
}
