<br><font size=5, color="#662500"><b>비밀번호 확인</b></font><br><br><br>
<br><br><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center"><font size=5> 새로 변경된 비밀번호가 이메일로 전송되었습니다. </font></td>
	</tr>
	<tr>
		<td align="center"><%= @member.Email %></td>
	</tr>
</table>
