<br><font size=5 color="#662500"><b>최근 본 상품</b></font> &nbsp;&nbsp;&nbsp;<font color="#5D5D5D">최대 20개까지 조회 가능합니다.</font><br><br><br>

<table width="95%" border="1" cellspacing="0" cellpadding="3" bordercolor="#A6A6A6" style="border-collapse:collapse;" rules="rows" frame="hsides">
	<tr bgcolor="#A6A6A6">
		<td colspan=2 align=center><font color=white>상품</font></td>
		<td width="12%" align=center><font color=white>가격</font></td>
		<td width="12%" align=center><font color=white>배송</font></td>
		<td width="12%" align=center><font color=white>판매자</font></td>
	</tr>

	<% @notice_list = Recommendation.select("recommendations.*, notices.picture, notices.Title, notices.Price, notices.Seller_id").joins("LEFT OUTER JOIN notices ON recommendations.Notice_id = notices.id").where("recommendations.User_id is ?", current_user[:User_id]).order('recommendations.created_at DESC').limit(20) %>

	<% if @notice_list.present? %>
		<% @notice_list.each do |n| %>
		<tr>
			<td><%= link_to image_tag(Notice.find_by_id(n.Notice_id).picture.url, size: "105"), notice_main_path(:param_noticeid => n.id) %></td>
			<td><%= link_to n.Title, notice_main_path(:param_noticeid => n.id), {:style=>'color:#000000; text-decoration:none;'} %></td>
			<td align=center><%= n.Price %></td>
			<td align=center>무료 배송</td>
			<td align=center><%= n.Seller_id %></td>	
		</tr>
		<% end %>
	<% else %>
		<tr><td align=center colspan=5><br>최근 본 상품이 없습니다<br><br></td></tr>
	<% end %>

</table>
